- content_for(:title) do
  %h1.post-title= link_to("Signup Today", "#")
#stylized
  = form_for @consumer do |f|
    = f.label :email, "Email Address"
    = f.text_field :email
    = f.label :password, "Password"
    = f.password_field :password
    = f.label :zip_code, "Zip Code"
    = f.text_field :zip_code
    = f.submit 'Sign Up', {:class => 'button'}
