.coupon{'data-coupon_id' => offer.campaign_id}
  .header
    %p.expires= "Expires: #{Date.parse(offer.campaign_end_date).to_s(:coupon_format)}"
    %h2.header= offer.offer_summary
  .body.clearfix
    %img{:src => offer.image_url}
    %p.coupon_copy= offer.display_name + " " + offer.short_description
    -if offer.learn_more_text.present?
      %p.learn_more= offer.learn_more_text
  .footer.clearfix
    -if offer.terms_and_conditions.present?
      = link_to "Terms and Conditions", "#terms_#{offer.campaign_id}", :rel => "facebox"
      %div{:id => "terms_#{offer.campaign_id}", :style => "display:none;"}
        = offer.terms_and_conditions
    -if offer.learn_more_text.present?
      = link_to "Learn More", "#learn_#{offer.campaign_id}", :rel => "facebox"
      %div{:id => "learn_#{offer.campaign_id}", :style => "display:none;"}
        = offer.learn_more_text
    -if offer.video_url.present?
      -# =link_to "Video", offer.video_url , :rel => "facebox"
    -if offer.audio_url.present?
      -# =link_to "Audio", offer.audio_url , :rel => "facebox"
    -if offer.learn_more_image_url.present?
      =link_to "Image", offer.learn_more_image_url , :rel => "facebox"
    -if offer.coupon_id.present? && offer.coupon_state != "saved"
      =link_to image_tag("zavers_save_it.png"), save_coupon_path(offer.coupon_id), :remote => true, :disable_with => "Saving Coupon..."
    -elsif offer.coupon_id.present? && offer.coupon_state == "saved"
      =link_to image_tag("delete.png"), remove_coupon_path(offer.coupon_id), :remote => true
